[project]
name = "snntorch-lsm"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.8",
    "numba>=0.63.1",
    "numpy>=2.3.5",
    "snntorch>=0.9.4",
    "torch>=2.10.0",
]
